p{
	color:white;
	font-family: 'Roboto Mono', monospace;
	background-color: #BF3F7F;
}

body{
	background-color: #c0c0c0;
	color: #000000;
	border: 3 solid black;
	text-align: center;
	padding: 20 0 20 0;
}
html{
	background-color: #59BF3F;
	padding:10 40 10 40
}

h2{
	color:white;
	font-family: 'Fjalla One', sans-serif;
	
}

ul{
    list-style-type: none;
    margin:5;
    padding:5;
    overflow: hidden;
    background-color: #808080;
}

li{
    float: left;
}

li a{
    display:block;
    color:white;
    text-align: center;
    padding: 15 18;
    text-decoration:none;
}

li a:hover:not(.active){
    background-color:#000000;
}

.active{
    background-color:#4CAF50;
}
